<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>cocos2DxLogo.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{360,96}</string>
				<key>spriteSourceSize</key>
				<string>{360,96}</string>
				<key>textureRect</key>
				<string>{{2585,1181},{360,96}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>fmodLogo.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{360,95}</string>
				<key>spriteSourceSize</key>
				<string>{360,95}</string>
				<key>textureRect</key>
				<string>{{2585,1542},{360,95}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_lite_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-4}</string>
				<key>spriteSize</key>
				<string>{354,116}</string>
				<key>spriteSourceSize</key>
				<string>{360,124}</string>
				<key>textureRect</key>
				<string>{{2585,1903},{354,116}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_logo_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7.5,-7.5}</string>
				<key>spriteSize</key>
				<string>{1701,193}</string>
				<key>spriteSourceSize</key>
				<string>{1716,208}</string>
				<key>textureRect</key>
				<string>{{0,2507},{1701,193}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_md_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7,-7.5}</string>
				<key>spriteSize</key>
				<string>{734,139}</string>
				<key>spriteSourceSize</key>
				<string>{748,154}</string>
				<key>textureRect</key>
				<string>{{1702,2507},{734,139}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_subzeroLogo_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7.5,-7.5}</string>
				<key>spriteSize</key>
				<string>{647,155}</string>
				<key>spriteSourceSize</key>
				<string>{662,170}</string>
				<key>textureRect</key>
				<string>{{2585,0},{647,155}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>gj_worldLogo_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7.5,-7}</string>
				<key>spriteSize</key>
				<string>{532,154}</string>
				<key>spriteSourceSize</key>
				<string>{547,168}</string>
				<key>textureRect</key>
				<string>{{2585,648},{532,154}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>RobTopLogoBig_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{2584,2506}</string>
				<key>spriteSourceSize</key>
				<string>{2584,2506}</string>
				<key>textureRect</key>
				<string>{{0,0},{2584,2506}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>GJ_LaunchSheet-uhd.png</string>
			<key>size</key>
			<string>{2740,2700}</string>
			<key>textureFileName</key>
			<string>GJ_LaunchSheet-uhd.png</string>
		</dict>
	</dict>
</plist>