<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>boost_01_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,82}</string>
				<key>spriteSourceSize</key>
				<string>{64,82}</string>
				<key>textureRect</key>
				<string>{{1131,90},{64,82}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>boost_02_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,108}</string>
				<key>spriteSourceSize</key>
				<string>{61,108}</string>
				<key>textureRect</key>
				<string>{{1013,470},{61,108}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>boost_03_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,108}</string>
				<key>spriteSourceSize</key>
				<string>{96,108}</string>
				<key>textureRect</key>
				<string>{{1027,532},{96,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boost_04_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{125,108}</string>
				<key>spriteSourceSize</key>
				<string>{125,108}</string>
				<key>textureRect</key>
				<string>{{1013,200},{125,108}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>boost_05_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{127,103}</string>
				<key>spriteSourceSize</key>
				<string>{128,103}</string>
				<key>textureRect</key>
				<string>{{1027,0},{127,103}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_challengeBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-5}</string>
				<key>spriteSize</key>
				<string>{199,199}</string>
				<key>spriteSourceSize</key>
				<string>{209,209}</string>
				<key>textureRect</key>
				<string>{{210,384},{199,199}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_createBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-5}</string>
				<key>spriteSize</key>
				<string>{199,199}</string>
				<key>spriteSourceSize</key>
				<string>{209,209}</string>
				<key>textureRect</key>
				<string>{{427,0},{199,199}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_creatorBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3.5,-3.5}</string>
				<key>spriteSize</key>
				<string>{133,133}</string>
				<key>spriteSourceSize</key>
				<string>{140,140}</string>
				<key>textureRect</key>
				<string>{{602,977},{133,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_dailyBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-5}</string>
				<key>spriteSize</key>
				<string>{199,199}</string>
				<key>spriteSourceSize</key>
				<string>{209,209}</string>
				<key>textureRect</key>
				<string>{{410,200},{199,199}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_dailyCrown_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-4}</string>
				<key>spriteSize</key>
				<string>{164,109}</string>
				<key>spriteSourceSize</key>
				<string>{166,119}</string>
				<key>textureRect</key>
				<string>{{699,800},{164,109}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_eventBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-5}</string>
				<key>spriteSize</key>
				<string>{199,199}</string>
				<key>spriteSourceSize</key>
				<string>{209,209}</string>
				<key>textureRect</key>
				<string>{{0,594},{199,199}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_eventCrown_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-3.5}</string>
				<key>spriteSize</key>
				<string>{160,117}</string>
				<key>spriteSourceSize</key>
				<string>{161,126}</string>
				<key>textureRect</key>
				<string>{{809,534},{160,117}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_featuredBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-5}</string>
				<key>spriteSize</key>
				<string>{199,199}</string>
				<key>spriteSourceSize</key>
				<string>{209,209}</string>
				<key>textureRect</key>
				<string>{{200,594},{199,199}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_freeLevelsBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-3.5}</string>
				<key>spriteSize</key>
				<string>{132,124}</string>
				<key>spriteSourceSize</key>
				<string>{133,131}</string>
				<key>textureRect</key>
				<string>{{736,977},{132,124}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_fullBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-3.5}</string>
				<key>spriteSize</key>
				<string>{159,133}</string>
				<key>spriteSourceSize</key>
				<string>{161,140}</string>
				<key>textureRect</key>
				<string>{{800,652},{159,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_gauntletsBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-5}</string>
				<key>spriteSize</key>
				<string>{199,199}</string>
				<key>spriteSourceSize</key>
				<string>{209,209}</string>
				<key>textureRect</key>
				<string>{{400,584},{199,199}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_highscoreBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-5}</string>
				<key>spriteSize</key>
				<string>{199,199}</string>
				<key>spriteSourceSize</key>
				<string>{209,209}</string>
				<key>textureRect</key>
				<string>{{627,0},{199,199}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_listsBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-5}</string>
				<key>spriteSize</key>
				<string>{199,199}</string>
				<key>spriteSourceSize</key>
				<string>{209,209}</string>
				<key>textureRect</key>
				<string>{{610,200},{199,199}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_mapBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-5}</string>
				<key>spriteSize</key>
				<string>{199,199}</string>
				<key>spriteSourceSize</key>
				<string>{209,209}</string>
				<key>textureRect</key>
				<string>{{600,400},{199,199}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_mapPacksBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-5}</string>
				<key>spriteSize</key>
				<string>{199,199}</string>
				<key>spriteSourceSize</key>
				<string>{209,209}</string>
				<key>textureRect</key>
				<string>{{0,794},{199,199}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_moreGamesBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-3.5}</string>
				<key>spriteSize</key>
				<string>{163,133}</string>
				<key>spriteSourceSize</key>
				<string>{165,140}</string>
				<key>textureRect</key>
				<string>{{809,400},{163,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_pathsBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-5}</string>
				<key>spriteSize</key>
				<string>{199,199}</string>
				<key>spriteSourceSize</key>
				<string>{209,209}</string>
				<key>textureRect</key>
				<string>{{200,794},{199,199}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_playBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-5}</string>
				<key>spriteSize</key>
				<string>{209,209}</string>
				<key>spriteSourceSize</key>
				<string>{219,219}</string>
				<key>textureRect</key>
				<string>{{0,384},{209,209}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_safeBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{86,95}</string>
				<key>spriteSourceSize</key>
				<string>{87,98}</string>
				<key>textureRect</key>
				<string>{{1027,641},{86,95}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_savedBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-5}</string>
				<key>spriteSize</key>
				<string>{199,199}</string>
				<key>spriteSourceSize</key>
				<string>{209,209}</string>
				<key>textureRect</key>
				<string>{{400,784},{199,199}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_searchBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-5}</string>
				<key>spriteSize</key>
				<string>{199,199}</string>
				<key>spriteSourceSize</key>
				<string>{209,209}</string>
				<key>textureRect</key>
				<string>{{600,600},{199,199}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_versusBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-5}</string>
				<key>spriteSize</key>
				<string>{199,199}</string>
				<key>spriteSourceSize</key>
				<string>{209,209}</string>
				<key>textureRect</key>
				<string>{{827,0},{199,199}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_weeklyBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-5}</string>
				<key>spriteSize</key>
				<string>{199,199}</string>
				<key>spriteSourceSize</key>
				<string>{209,209}</string>
				<key>textureRect</key>
				<string>{{810,200},{199,199}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_weeklyCrown_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-4.5}</string>
				<key>spriteSize</key>
				<string>{164,110}</string>
				<key>spriteSourceSize</key>
				<string>{166,119}</string>
				<key>textureRect</key>
				<string>{{266,119},{164,110}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,1}</string>
				<key>spriteSize</key>
				<string>{89,88}</string>
				<key>spriteSourceSize</key>
				<string>{141,144}</string>
				<key>textureRect</key>
				<string>{{1131,0},{89,88}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_002.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,4}</string>
				<key>spriteSize</key>
				<string>{117,108}</string>
				<key>spriteSourceSize</key>
				<string>{141,144}</string>
				<key>textureRect</key>
				<string>{{1013,361},{117,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_003.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,5.5}</string>
				<key>spriteSize</key>
				<string>{124,121}</string>
				<key>spriteSourceSize</key>
				<string>{141,144}</string>
				<key>textureRect</key>
				<string>{{991,928},{124,121}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_004.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,3.5}</string>
				<key>spriteSize</key>
				<string>{126,127}</string>
				<key>spriteSourceSize</key>
				<string>{141,144}</string>
				<key>textureRect</key>
				<string>{{991,801},{126,127}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_005.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,3.5}</string>
				<key>spriteSize</key>
				<string>{129,129}</string>
				<key>spriteSourceSize</key>
				<string>{141,144}</string>
				<key>textureRect</key>
				<string>{{861,977},{129,129}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_006.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,3.5}</string>
				<key>spriteSize</key>
				<string>{133,135}</string>
				<key>spriteSourceSize</key>
				<string>{141,144}</string>
				<key>textureRect</key>
				<string>{{419,984},{133,135}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_007.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,3.5}</string>
				<key>spriteSize</key>
				<string>{138,137}</string>
				<key>spriteSourceSize</key>
				<string>{141,144}</string>
				<key>textureRect</key>
				<string>{{141,994},{138,137}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_008.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,3.5}</string>
				<key>spriteSize</key>
				<string>{140,137}</string>
				<key>spriteSourceSize</key>
				<string>{141,144}</string>
				<key>textureRect</key>
				<string>{{0,994},{140,137}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_009.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,3}</string>
				<key>spriteSize</key>
				<string>{138,136}</string>
				<key>spriteSourceSize</key>
				<string>{141,144}</string>
				<key>textureRect</key>
				<string>{{280,994},{138,136}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_01_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-22,0}</string>
				<key>spriteSize</key>
				<string>{31,144}</string>
				<key>spriteSourceSize</key>
				<string>{75,144}</string>
				<key>textureRect</key>
				<string>{{395,38},{31,144}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_01_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,0}</string>
				<key>spriteSize</key>
				<string>{29,144}</string>
				<key>spriteSourceSize</key>
				<string>{31,144}</string>
				<key>textureRect</key>
				<string>{{377,183},{29,144}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_02_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-23.5,0}</string>
				<key>spriteSize</key>
				<string>{39,144}</string>
				<key>spriteSourceSize</key>
				<string>{86,144}</string>
				<key>textureRect</key>
				<string>{{973,400},{39,144}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_02_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7,0}</string>
				<key>spriteSize</key>
				<string>{58,166}</string>
				<key>spriteSourceSize</key>
				<string>{72,166}</string>
				<key>textureRect</key>
				<string>{{640,800},{58,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-9,0}</string>
				<key>spriteSize</key>
				<string>{81,144}</string>
				<key>spriteSourceSize</key>
				<string>{99,144}</string>
				<key>textureRect</key>
				<string>{{809,832},{81,144}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_03_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{9,-0.5}</string>
				<key>spriteSize</key>
				<string>{70,177}</string>
				<key>spriteSourceSize</key>
				<string>{88,178}</string>
				<key>textureRect</key>
				<string>{{493,400},{70,177}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-22,0}</string>
				<key>spriteSize</key>
				<string>{45,147}</string>
				<key>spriteSourceSize</key>
				<string>{89,151}</string>
				<key>textureRect</key>
				<string>{{809,786},{45,147}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_04_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5.5,0}</string>
				<key>spriteSize</key>
				<string>{39,174}</string>
				<key>spriteSourceSize</key>
				<string>{50,174}</string>
				<key>textureRect</key>
				<string>{{600,800},{39,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_05_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-9,-3}</string>
				<key>spriteSize</key>
				<string>{48,134}</string>
				<key>spriteSourceSize</key>
				<string>{66,140}</string>
				<key>textureRect</key>
				<string>{{553,984},{48,134}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_05_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,148}</string>
				<key>spriteSourceSize</key>
				<string>{66,148}</string>
				<key>textureRect</key>
				<string>{{960,652},{66,148}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_06_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-23.5,0}</string>
				<key>spriteSize</key>
				<string>{39,144}</string>
				<key>spriteSourceSize</key>
				<string>{86,144}</string>
				<key>textureRect</key>
				<string>{{891,832},{39,144}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_06_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5.5,0}</string>
				<key>spriteSize</key>
				<string>{32,175}</string>
				<key>spriteSourceSize</key>
				<string>{43,175}</string>
				<key>textureRect</key>
				<string>{{564,400},{32,175}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,0.5}</string>
				<key>spriteSize</key>
				<string>{426,37}</string>
				<key>spriteSourceSize</key>
				<string>{442,42}</string>
				<key>textureRect</key>
				<string>{{0,0},{426,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_002.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-8,0.5}</string>
				<key>spriteSize</key>
				<string>{394,41}</string>
				<key>spriteSourceSize</key>
				<string>{442,42}</string>
				<key>textureRect</key>
				<string>{{0,38},{394,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_003.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-60,1}</string>
				<key>spriteSize</key>
				<string>{300,38}</string>
				<key>spriteSourceSize</key>
				<string>{442,42}</string>
				<key>textureRect</key>
				<string>{{0,80},{300,38}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_004.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-93,1.5}</string>
				<key>spriteSize</key>
				<string>{238,37}</string>
				<key>spriteSourceSize</key>
				<string>{442,42}</string>
				<key>textureRect</key>
				<string>{{0,119},{238,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_005.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-109,1}</string>
				<key>spriteSize</key>
				<string>{210,36}</string>
				<key>spriteSourceSize</key>
				<string>{442,42}</string>
				<key>textureRect</key>
				<string>{{229,157},{210,36}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spiderDash_006.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-143,2}</string>
				<key>spriteSize</key>
				<string>{142,34}</string>
				<key>spriteSourceSize</key>
				<string>{442,42}</string>
				<key>textureRect</key>
				<string>{{266,328},{142,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_007.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-158,2}</string>
				<key>spriteSize</key>
				<string>{118,34}</string>
				<key>spriteSourceSize</key>
				<string>{442,42}</string>
				<key>textureRect</key>
				<string>{{1010,326},{118,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_008.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-196,3.5}</string>
				<key>spriteSize</key>
				<string>{44,31}</string>
				<key>spriteSourceSize</key>
				<string>{442,42}</string>
				<key>textureRect</key>
				<string>{{1027,155},{44,31}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>theTowerDoor_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-1.5}</string>
				<key>spriteSize</key>
				<string>{228,226}</string>
				<key>spriteSourceSize</key>
				<string>{232,229}</string>
				<key>textureRect</key>
				<string>{{0,157},{228,226}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>theTowerLabel_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-3}</string>
				<key>spriteSize</key>
				<string>{178,82}</string>
				<key>spriteSourceSize</key>
				<string>{184,88}</string>
				<key>textureRect</key>
				<string>{{410,400},{178,82}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>GJ_GameSheet04-hd.png</string>
			<key>size</key>
			<string>{1219,1131}</string>
			<key>textureFileName</key>
			<string>GJ_GameSheet04-hd.png</string>
		</dict>
	</dict>
</plist>