<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>gauntletLock_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-13}</string>
				<key>spriteSize</key>
				<string>{37,44}</string>
				<key>spriteSourceSize</key>
				<string>{41,70}</string>
				<key>textureRect</key>
				<string>{{975,488},{37,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>island_bonus_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1}</string>
				<key>spriteSize</key>
				<string>{119,123}</string>
				<key>spriteSourceSize</key>
				<string>{119,125}</string>
				<key>textureRect</key>
				<string>{{885,368},{119,123}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_chaos_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1}</string>
				<key>spriteSize</key>
				<string>{118,120}</string>
				<key>spriteSourceSize</key>
				<string>{118,122}</string>
				<key>textureRect</key>
				<string>{{768,784},{118,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>island_crystal_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-3.5}</string>
				<key>spriteSize</key>
				<string>{119,115}</string>
				<key>spriteSourceSize</key>
				<string>{119,122}</string>
				<key>textureRect</key>
				<string>{{887,727},{119,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>island_death_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,11.5}</string>
				<key>spriteSize</key>
				<string>{118,137}</string>
				<key>spriteSourceSize</key>
				<string>{118,160}</string>
				<key>textureRect</key>
				<string>{{560,582},{118,137}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>island_demon_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2.5}</string>
				<key>spriteSize</key>
				<string>{118,124}</string>
				<key>spriteSourceSize</key>
				<string>{118,129}</string>
				<key>textureRect</key>
				<string>{{886,249},{118,124}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_doom_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4}</string>
				<key>spriteSize</key>
				<string>{118,133}</string>
				<key>spriteSourceSize</key>
				<string>{118,141}</string>
				<key>textureRect</key>
				<string>{{751,268},{118,133}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_fire_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,121}</string>
				<key>spriteSourceSize</key>
				<string>{119,121}</string>
				<key>textureRect</key>
				<string>{{838,607},{119,121}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_ice_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,113}</string>
				<key>spriteSourceSize</key>
				<string>{119,113}</string>
				<key>textureRect</key>
				<string>{{887,843},{119,113}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>island_lava_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,1}</string>
				<key>spriteSize</key>
				<string>{119,131}</string>
				<key>spriteSourceSize</key>
				<string>{120,133}</string>
				<key>textureRect</key>
				<string>{{137,720},{119,131}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_magic_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1.5}</string>
				<key>spriteSize</key>
				<string>{119,125}</string>
				<key>spriteSourceSize</key>
				<string>{119,128}</string>
				<key>textureRect</key>
				<string>{{269,720},{119,125}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_monster_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1.5}</string>
				<key>spriteSize</key>
				<string>{119,129}</string>
				<key>spriteSourceSize</key>
				<string>{119,132}</string>
				<key>textureRect</key>
				<string>{{264,845},{119,129}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>island_new01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,133}</string>
				<key>spriteSourceSize</key>
				<string>{133,133}</string>
				<key>textureRect</key>
				<string>{{718,387},{133,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>island_new02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,7.5}</string>
				<key>spriteSize</key>
				<string>{128,143}</string>
				<key>spriteSourceSize</key>
				<string>{128,158}</string>
				<key>textureRect</key>
				<string>{{293,324},{128,143}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,3.5}</string>
				<key>spriteSize</key>
				<string>{128,131}</string>
				<key>spriteSourceSize</key>
				<string>{128,138}</string>
				<key>textureRect</key>
				<string>{{0,846},{128,131}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,12}</string>
				<key>spriteSize</key>
				<string>{128,137}</string>
				<key>spriteSourceSize</key>
				<string>{128,161}</string>
				<key>textureRect</key>
				<string>{{566,453},{128,137}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new05_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{125,136}</string>
				<key>spriteSourceSize</key>
				<string>{125,136}</string>
				<key>textureRect</key>
				<string>{{0,720},{125,136}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new06_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3.5,-5.5}</string>
				<key>spriteSize</key>
				<string>{128,128}</string>
				<key>spriteSourceSize</key>
				<string>{135,139}</string>
				<key>textureRect</key>
				<string>{{384,845},{128,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>island_new07_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4.5,25.5}</string>
				<key>spriteSize</key>
				<string>{128,181}</string>
				<key>spriteSourceSize</key>
				<string>{137,232}</string>
				<key>textureRect</key>
				<string>{{0,66},{128,181}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new08_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1}</string>
				<key>spriteSize</key>
				<string>{128,136}</string>
				<key>spriteSourceSize</key>
				<string>{128,138}</string>
				<key>textureRect</key>
				<string>{{421,716},{128,136}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new09_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2.5}</string>
				<key>spriteSize</key>
				<string>{128,137}</string>
				<key>spriteSourceSize</key>
				<string>{128,142}</string>
				<key>textureRect</key>
				<string>{{622,139},{128,137}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>island_new10_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,3.5}</string>
				<key>spriteSize</key>
				<string>{128,146}</string>
				<key>spriteSourceSize</key>
				<string>{128,153}</string>
				<key>textureRect</key>
				<string>{{493,66},{128,146}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>island_new11_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,8.5}</string>
				<key>spriteSize</key>
				<string>{128,145}</string>
				<key>spriteSourceSize</key>
				<string>{128,162}</string>
				<key>textureRect</key>
				<string>{{147,329},{128,145}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new12_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{128,134}</string>
				<key>spriteSourceSize</key>
				<string>{128,138}</string>
				<key>textureRect</key>
				<string>{{751,139},{128,134}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new13_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,8.5}</string>
				<key>spriteSize</key>
				<string>{128,128}</string>
				<key>spriteSourceSize</key>
				<string>{128,145}</string>
				<key>textureRect</key>
				<string>{{513,845},{128,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>island_new14_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{128,138}</string>
				<key>spriteSourceSize</key>
				<string>{128,139}</string>
				<key>textureRect</key>
				<string>{{421,587},{128,138}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new15_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2.5}</string>
				<key>spriteSize</key>
				<string>{128,140}</string>
				<key>spriteSourceSize</key>
				<string>{128,145}</string>
				<key>textureRect</key>
				<string>{{143,458},{128,140}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new16_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,17.5}</string>
				<key>spriteSize</key>
				<string>{128,146}</string>
				<key>spriteSourceSize</key>
				<string>{128,181}</string>
				<key>textureRect</key>
				<string>{{0,329},{128,146}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new17_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,20}</string>
				<key>spriteSize</key>
				<string>{128,152}</string>
				<key>spriteSourceSize</key>
				<string>{128,192}</string>
				<key>textureRect</key>
				<string>{{340,66},{128,152}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new18_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{128,133}</string>
				<key>spriteSourceSize</key>
				<string>{128,133}</string>
				<key>textureRect</key>
				<string>{{704,521},{128,133}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new19_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-6}</string>
				<key>spriteSize</key>
				<string>{128,142}</string>
				<key>spriteSourceSize</key>
				<string>{128,154}</string>
				<key>textureRect</key>
				<string>{{437,324},{128,142}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new20_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,6}</string>
				<key>spriteSize</key>
				<string>{128,157}</string>
				<key>spriteSourceSize</key>
				<string>{128,169}</string>
				<key>textureRect</key>
				<string>{{182,66},{128,157}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new21_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,22}</string>
				<key>spriteSize</key>
				<string>{128,156}</string>
				<key>spriteSourceSize</key>
				<string>{128,200}</string>
				<key>textureRect</key>
				<string>{{331,195},{128,156}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new22_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,10.5}</string>
				<key>spriteSize</key>
				<string>{128,133}</string>
				<key>spriteSourceSize</key>
				<string>{128,154}</string>
				<key>textureRect</key>
				<string>{{679,650},{128,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>island_new23_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,24}</string>
				<key>spriteSize</key>
				<string>{128,159}</string>
				<key>spriteSourceSize</key>
				<string>{128,207}</string>
				<key>textureRect</key>
				<string>{{171,195},{128,159}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new24_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2.5,12.5}</string>
				<key>spriteSize</key>
				<string>{133,136}</string>
				<key>spriteSourceSize</key>
				<string>{138,161}</string>
				<key>textureRect</key>
				<string>{{755,0},{133,136}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>island_new25_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,14}</string>
				<key>spriteSize</key>
				<string>{128,140}</string>
				<key>spriteSourceSize</key>
				<string>{128,168}</string>
				<key>textureRect</key>
				<string>{{284,458},{128,140}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new26_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,10}</string>
				<key>spriteSize</key>
				<string>{128,131}</string>
				<key>spriteSourceSize</key>
				<string>{128,151}</string>
				<key>textureRect</key>
				<string>{{132,846},{128,131}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new27_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,14}</string>
				<key>spriteSize</key>
				<string>{128,140}</string>
				<key>spriteSourceSize</key>
				<string>{128,168}</string>
				<key>textureRect</key>
				<string>{{425,453},{128,140}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new28_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2.5,29.5}</string>
				<key>spriteSize</key>
				<string>{133,170}</string>
				<key>spriteSourceSize</key>
				<string>{138,229}</string>
				<key>textureRect</key>
				<string>{{0,195},{133,170}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new29_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,7}</string>
				<key>spriteSize</key>
				<string>{128,125}</string>
				<key>spriteSourceSize</key>
				<string>{128,139}</string>
				<key>textureRect</key>
				<string>{{642,784},{128,125}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new30_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,8.5}</string>
				<key>spriteSize</key>
				<string>{128,128}</string>
				<key>spriteSourceSize</key>
				<string>{128,145}</string>
				<key>textureRect</key>
				<string>{{889,0},{128,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>island_new31_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,14}</string>
				<key>spriteSize</key>
				<string>{132,139}</string>
				<key>spriteSourceSize</key>
				<string>{132,167}</string>
				<key>textureRect</key>
				<string>{{141,587},{132,139}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new32_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,13.5}</string>
				<key>spriteSize</key>
				<string>{132,139}</string>
				<key>spriteSourceSize</key>
				<string>{132,166}</string>
				<key>textureRect</key>
				<string>{{281,587},{132,139}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new33_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,13.5}</string>
				<key>spriteSize</key>
				<string>{132,140}</string>
				<key>spriteSourceSize</key>
				<string>{133,167}</string>
				<key>textureRect</key>
				<string>{{0,587},{132,140}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new34_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,15}</string>
				<key>spriteSize</key>
				<string>{128,142}</string>
				<key>spriteSourceSize</key>
				<string>{128,172}</string>
				<key>textureRect</key>
				<string>{{0,458},{128,142}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_new35_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,14}</string>
				<key>spriteSize</key>
				<string>{127,138}</string>
				<key>spriteSourceSize</key>
				<string>{127,166}</string>
				<key>textureRect</key>
				<string>{{627,0},{127,138}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>island_poison_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4.5}</string>
				<key>spriteSize</key>
				<string>{118,122}</string>
				<key>spriteSourceSize</key>
				<string>{118,131}</string>
				<key>textureRect</key>
				<string>{{852,488},{118,122}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_shadow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-4.5}</string>
				<key>spriteSize</key>
				<string>{118,108}</string>
				<key>spriteSourceSize</key>
				<string>{118,117}</string>
				<key>textureRect</key>
				<string>{{768,905},{118,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>island_spike_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,3}</string>
				<key>spriteSize</key>
				<string>{119,137}</string>
				<key>spriteSourceSize</key>
				<string>{119,143}</string>
				<key>textureRect</key>
				<string>{{580,277},{119,137}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>island_time_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4.5}</string>
				<key>spriteSize</key>
				<string>{119,128}</string>
				<key>spriteSourceSize</key>
				<string>{119,137}</string>
				<key>textureRect</key>
				<string>{{889,129},{119,128}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>theLostGauntletsLabel_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,-2.5}</string>
				<key>spriteSize</key>
				<string>{626,65}</string>
				<key>spriteSourceSize</key>
				<string>{631,70}</string>
				<key>textureRect</key>
				<string>{{0,0},{626,65}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>GauntletSheet-hd.png</string>
			<key>size</key>
			<string>{1017,1083}</string>
			<key>textureFileName</key>
			<string>GauntletSheet-hd.png</string>
		</dict>
	</dict>
</plist>