<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>chest_01_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{199,161}</string>
				<key>spriteSourceSize</key>
				<string>{199,161}</string>
				<key>textureRect</key>
				<string>{{245,1234},{199,161}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_01_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{193,155}</string>
				<key>spriteSourceSize</key>
				<string>{193,155}</string>
				<key>textureRect</key>
				<string>{{949,1309},{193,155}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_01_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1.5}</string>
				<key>spriteSize</key>
				<string>{193,158}</string>
				<key>spriteSourceSize</key>
				<string>{193,161}</string>
				<key>textureRect</key>
				<string>{{1143,1309},{193,158}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_01_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,7}</string>
				<key>spriteSize</key>
				<string>{152,14}</string>
				<key>spriteSourceSize</key>
				<string>{152,28}</string>
				<key>textureRect</key>
				<string>{{1220,246},{152,14}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_01_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,29}</string>
				<key>spriteSize</key>
				<string>{326,67}</string>
				<key>spriteSourceSize</key>
				<string>{327,125}</string>
				<key>textureRect</key>
				<string>{{408,408},{326,67}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_01_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-66}</string>
				<key>spriteSize</key>
				<string>{303,143}</string>
				<key>spriteSourceSize</key>
				<string>{343,303}</string>
				<key>textureRect</key>
				<string>{{886,0},{303,143}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_01_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,33}</string>
				<key>spriteSize</key>
				<string>{162,98}</string>
				<key>spriteSourceSize</key>
				<string>{162,164}</string>
				<key>textureRect</key>
				<string>{{1425,1026},{162,98}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_01_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,33}</string>
				<key>spriteSize</key>
				<string>{148,75}</string>
				<key>spriteSourceSize</key>
				<string>{148,141}</string>
				<key>textureRect</key>
				<string>{{1337,1424},{148,75}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_02_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{249,201}</string>
				<key>spriteSourceSize</key>
				<string>{249,201}</string>
				<key>textureRect</key>
				<string>{{0,934},{249,201}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_02_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{241,193}</string>
				<key>spriteSourceSize</key>
				<string>{241,194}</string>
				<key>textureRect</key>
				<string>{{465,931},{241,193}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_02_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{241,197}</string>
				<key>spriteSourceSize</key>
				<string>{241,201}</string>
				<key>textureRect</key>
				<string>{{465,1125},{241,197}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_02_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,9}</string>
				<key>spriteSize</key>
				<string>{189,31}</string>
				<key>spriteSourceSize</key>
				<string>{189,49}</string>
				<key>textureRect</key>
				<string>{{1131,550},{189,31}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_02_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,36.5}</string>
				<key>spriteSize</key>
				<string>{407,84}</string>
				<key>spriteSourceSize</key>
				<string>{409,157}</string>
				<key>textureRect</key>
				<string>{{0,0},{407,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_02_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-83}</string>
				<key>spriteSize</key>
				<string>{374,180}</string>
				<key>spriteSourceSize</key>
				<string>{441,346}</string>
				<key>textureRect</key>
				<string>{{524,0},{374,180}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_02_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,41.5}</string>
				<key>spriteSize</key>
				<string>{202,122}</string>
				<key>spriteSourceSize</key>
				<string>{202,205}</string>
				<key>textureRect</key>
				<string>{{949,1186},{202,122}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_02_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,41.5}</string>
				<key>spriteSize</key>
				<string>{184,93}</string>
				<key>spriteSourceSize</key>
				<string>{184,176}</string>
				<key>textureRect</key>
				<string>{{634,1345},{184,93}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_03_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{241,193}</string>
				<key>spriteSourceSize</key>
				<string>{241,194}</string>
				<key>textureRect</key>
				<string>{{707,957},{241,193}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_03_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2.5}</string>
				<key>spriteSize</key>
				<string>{241,196}</string>
				<key>spriteSourceSize</key>
				<string>{241,201}</string>
				<key>textureRect</key>
				<string>{{949,989},{241,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_03_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,9.5}</string>
				<key>spriteSize</key>
				<string>{189,30}</string>
				<key>spriteSourceSize</key>
				<string>{189,49}</string>
				<key>textureRect</key>
				<string>{{1163,550},{189,30}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_03_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,36.5}</string>
				<key>spriteSize</key>
				<string>{407,84}</string>
				<key>spriteSourceSize</key>
				<string>{409,157}</string>
				<key>textureRect</key>
				<string>{{0,85},{407,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_03_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-83}</string>
				<key>spriteSize</key>
				<string>{374,180}</string>
				<key>spriteSourceSize</key>
				<string>{441,346}</string>
				<key>textureRect</key>
				<string>{{524,375},{374,180}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_03_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,41.5}</string>
				<key>spriteSize</key>
				<string>{202,122}</string>
				<key>spriteSourceSize</key>
				<string>{202,205}</string>
				<key>textureRect</key>
				<string>{{1152,1186},{202,122}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_03_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,41.5}</string>
				<key>spriteSize</key>
				<string>{184,93}</string>
				<key>spriteSourceSize</key>
				<string>{184,176}</string>
				<key>textureRect</key>
				<string>{{1434,0},{184,93}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_04_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{241,193}</string>
				<key>spriteSourceSize</key>
				<string>{241,194}</string>
				<key>textureRect</key>
				<string>{{707,1151},{241,193}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_04_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2.5}</string>
				<key>spriteSize</key>
				<string>{241,196}</string>
				<key>spriteSourceSize</key>
				<string>{241,201}</string>
				<key>textureRect</key>
				<string>{{1237,0},{241,196}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_04_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,9.5}</string>
				<key>spriteSize</key>
				<string>{189,30}</string>
				<key>spriteSourceSize</key>
				<string>{189,49}</string>
				<key>textureRect</key>
				<string>{{1191,1149},{189,30}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_04_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,36.5}</string>
				<key>spriteSize</key>
				<string>{407,84}</string>
				<key>spriteSourceSize</key>
				<string>{409,157}</string>
				<key>textureRect</key>
				<string>{{0,170},{407,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_04_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-83}</string>
				<key>spriteSize</key>
				<string>{374,180}</string>
				<key>spriteSourceSize</key>
				<string>{441,346}</string>
				<key>textureRect</key>
				<string>{{0,572},{374,180}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_04_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,41.5}</string>
				<key>spriteSize</key>
				<string>{202,122}</string>
				<key>spriteSourceSize</key>
				<string>{202,205}</string>
				<key>textureRect</key>
				<string>{{1191,1026},{202,122}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_04_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,41.5}</string>
				<key>spriteSize</key>
				<string>{184,93}</string>
				<key>spriteSourceSize</key>
				<string>{184,176}</string>
				<key>textureRect</key>
				<string>{{1434,185},{184,93}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_05_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{244,193}</string>
				<key>spriteSourceSize</key>
				<string>{244,194}</string>
				<key>textureRect</key>
				<string>{{886,550},{244,193}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_05_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2.5}</string>
				<key>spriteSize</key>
				<string>{241,196}</string>
				<key>spriteSourceSize</key>
				<string>{241,201}</string>
				<key>textureRect</key>
				<string>{{1237,242},{241,196}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_05_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,9.5}</string>
				<key>spriteSize</key>
				<string>{189,30}</string>
				<key>spriteSourceSize</key>
				<string>{189,49}</string>
				<key>textureRect</key>
				<string>{{1394,1026},{189,30}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_05_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,36.5}</string>
				<key>spriteSize</key>
				<string>{407,84}</string>
				<key>spriteSourceSize</key>
				<string>{409,157}</string>
				<key>textureRect</key>
				<string>{{0,255},{407,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_05_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-83}</string>
				<key>spriteSize</key>
				<string>{374,180}</string>
				<key>spriteSourceSize</key>
				<string>{441,346}</string>
				<key>textureRect</key>
				<string>{{705,0},{374,180}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_05_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,41.5}</string>
				<key>spriteSize</key>
				<string>{202,122}</string>
				<key>spriteSourceSize</key>
				<string>{202,205}</string>
				<key>textureRect</key>
				<string>{{0,1346},{202,122}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_05_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,41.5}</string>
				<key>spriteSize</key>
				<string>{184,93}</string>
				<key>spriteSourceSize</key>
				<string>{184,176}</string>
				<key>textureRect</key>
				<string>{{1434,370},{184,93}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_06_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,9}</string>
				<key>spriteSize</key>
				<string>{244,209}</string>
				<key>spriteSourceSize</key>
				<string>{244,227}</string>
				<key>textureRect</key>
				<string>{{996,744},{244,209}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_06_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,7.5}</string>
				<key>spriteSize</key>
				<string>{245,206}</string>
				<key>spriteSourceSize</key>
				<string>{247,221}</string>
				<key>textureRect</key>
				<string>{{750,750},{245,206}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_06_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{189,52}</string>
				<key>spriteSourceSize</key>
				<string>{189,55}</string>
				<key>textureRect</key>
				<string>{{250,934},{189,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_06_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,21}</string>
				<key>spriteSize</key>
				<string>{407,115}</string>
				<key>spriteSourceSize</key>
				<string>{409,157}</string>
				<key>textureRect</key>
				<string>{{0,340},{407,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_06_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-83}</string>
				<key>spriteSize</key>
				<string>{374,180}</string>
				<key>spriteSourceSize</key>
				<string>{441,346}</string>
				<key>textureRect</key>
				<string>{{705,375},{374,180}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_06_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,38.5}</string>
				<key>spriteSize</key>
				<string>{224,146}</string>
				<key>spriteSourceSize</key>
				<string>{224,223}</string>
				<key>textureRect</key>
				<string>{{1208,484},{224,146}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_06_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,27.5}</string>
				<key>spriteSize</key>
				<string>{184,114}</string>
				<key>spriteSourceSize</key>
				<string>{184,169}</string>
				<key>textureRect</key>
				<string>{{1337,1309},{184,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_07_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,9}</string>
				<key>spriteSize</key>
				<string>{244,209}</string>
				<key>spriteSourceSize</key>
				<string>{244,227}</string>
				<key>textureRect</key>
				<string>{{0,1136},{244,209}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_07_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,7.5}</string>
				<key>spriteSize</key>
				<string>{245,206}</string>
				<key>spriteSourceSize</key>
				<string>{247,221}</string>
				<key>textureRect</key>
				<string>{{1030,0},{245,206}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_07_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{189,52}</string>
				<key>spriteSourceSize</key>
				<string>{189,55}</string>
				<key>textureRect</key>
				<string>{{1030,246},{189,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_07_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,21}</string>
				<key>spriteSize</key>
				<string>{407,115}</string>
				<key>spriteSourceSize</key>
				<string>{409,157}</string>
				<key>textureRect</key>
				<string>{{408,0},{407,115}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_07_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-83}</string>
				<key>spriteSize</key>
				<string>{374,180}</string>
				<key>spriteSourceSize</key>
				<string>{441,346}</string>
				<key>textureRect</key>
				<string>{{0,753},{374,180}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_07_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,38}</string>
				<key>spriteSize</key>
				<string>{224,147}</string>
				<key>spriteSourceSize</key>
				<string>{224,223}</string>
				<key>textureRect</key>
				<string>{{1206,631},{224,147}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_07_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,25}</string>
				<key>spriteSize</key>
				<string>{184,109}</string>
				<key>spriteSourceSize</key>
				<string>{184,159}</string>
				<key>textureRect</key>
				<string>{{0,1469},{184,109}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_08_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,11}</string>
				<key>spriteSize</key>
				<string>{244,214}</string>
				<key>spriteSourceSize</key>
				<string>{244,236}</string>
				<key>textureRect</key>
				<string>{{250,989},{244,214}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_08_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,10}</string>
				<key>spriteSize</key>
				<string>{245,211}</string>
				<key>spriteSourceSize</key>
				<string>{247,231}</string>
				<key>textureRect</key>
				<string>{{996,304},{245,211}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_08_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{189,52}</string>
				<key>spriteSourceSize</key>
				<string>{189,55}</string>
				<key>textureRect</key>
				<string>{{1206,931},{189,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_08_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,21}</string>
				<key>spriteSize</key>
				<string>{407,115}</string>
				<key>spriteSourceSize</key>
				<string>{409,157}</string>
				<key>textureRect</key>
				<string>{{0,456},{407,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_08_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-83}</string>
				<key>spriteSize</key>
				<string>{374,180}</string>
				<key>spriteSourceSize</key>
				<string>{441,346}</string>
				<key>textureRect</key>
				<string>{{375,750},{374,180}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_08_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,36}</string>
				<key>spriteSize</key>
				<string>{224,151}</string>
				<key>spriteSourceSize</key>
				<string>{224,223}</string>
				<key>textureRect</key>
				<string>{{1206,779},{224,151}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_08_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,26.5}</string>
				<key>spriteSize</key>
				<string>{184,112}</string>
				<key>spriteSourceSize</key>
				<string>{184,165}</string>
				<key>textureRect</key>
				<string>{{634,1465},{184,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_glow_bg_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-133,-18}</string>
				<key>spriteSize</key>
				<string>{101,46}</string>
				<key>spriteSourceSize</key>
				<string>{367,82}</string>
				<key>textureRect</key>
				<string>{{476,408},{101,46}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_shadow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{239,36}</string>
				<key>spriteSourceSize</key>
				<string>{239,36}</string>
				<key>textureRect</key>
				<string>{{1191,989},{239,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest03_small_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{61,50}</string>
				<key>spriteSourceSize</key>
				<string>{61,52}</string>
				<key>textureRect</key>
				<string>{{894,1345},{61,50}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>getOrbsLabel_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-4}</string>
				<key>spriteSize</key>
				<string>{111,74}</string>
				<key>spriteSourceSize</key>
				<string>{111,82}</string>
				<key>textureRect</key>
				<string>{{819,1465},{111,74}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>gj_videoRewardBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{188,145}</string>
				<key>spriteSourceSize</key>
				<string>{190,145}</string>
				<key>textureRect</key>
				<string>{{445,1323},{188,145}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>plushies_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4.5,1.5}</string>
				<key>spriteSize</key>
				<string>{187,106}</string>
				<key>spriteSourceSize</key>
				<string>{196,109}</string>
				<key>textureRect</key>
				<string>{{886,304},{187,106}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopRope2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-49.5}</string>
				<key>spriteSize</key>
				<string>{94,133}</string>
				<key>spriteSourceSize</key>
				<string>{98,232}</string>
				<key>textureRect</key>
				<string>{{1433,555},{94,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopRope2_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,0}</string>
				<key>spriteSize</key>
				<string>{27,42}</string>
				<key>spriteSourceSize</key>
				<string>{32,42}</string>
				<key>textureRect</key>
				<string>{{1208,399},{27,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopRope3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,-49.5}</string>
				<key>spriteSize</key>
				<string>{85,133}</string>
				<key>spriteSourceSize</key>
				<string>{90,232}</string>
				<key>textureRect</key>
				<string>{{1355,1216},{85,133}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopRope3_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,0}</string>
				<key>spriteSize</key>
				<string>{27,42}</string>
				<key>spriteSourceSize</key>
				<string>{32,42}</string>
				<key>textureRect</key>
				<string>{{949,957},{27,42}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopRope4_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-49.5}</string>
				<key>spriteSize</key>
				<string>{84,133}</string>
				<key>spriteSourceSize</key>
				<string>{88,232}</string>
				<key>textureRect</key>
				<string>{{1431,689},{84,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopRope4_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,0}</string>
				<key>spriteSize</key>
				<string>{27,42}</string>
				<key>spriteSourceSize</key>
				<string>{32,42}</string>
				<key>textureRect</key>
				<string>{{1396,957},{27,42}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopRope5_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4.5,-49.5}</string>
				<key>spriteSize</key>
				<string>{93,133}</string>
				<key>spriteSourceSize</key>
				<string>{102,232}</string>
				<key>textureRect</key>
				<string>{{1431,823},{93,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopRope5_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,0}</string>
				<key>spriteSize</key>
				<string>{27,42}</string>
				<key>spriteSourceSize</key>
				<string>{32,42}</string>
				<key>textureRect</key>
				<string>{{375,572},{27,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>GJ_ShopSheet-hd.png</string>
			<key>size</key>
			<string>{1527,1578}</string>
			<key>textureFileName</key>
			<string>GJ_ShopSheet-hd.png</string>
		</dict>
	</dict>
</plist>