<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>chest_03_price_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{109,33}</string>
				<key>spriteSourceSize</key>
				<string>{109,33}</string>
				<key>textureRect</key>
				<string>{{119,166},{109,33}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_04_price_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{109,33}</string>
				<key>spriteSourceSize</key>
				<string>{109,33}</string>
				<key>textureRect</key>
				<string>{{146,117},{109,33}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_05_price_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{109,33}</string>
				<key>spriteSourceSize</key>
				<string>{109,33}</string>
				<key>textureRect</key>
				<string>{{153,151},{109,33}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_06_price_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{109,33}</string>
				<key>spriteSourceSize</key>
				<string>{109,33}</string>
				<key>textureRect</key>
				<string>{{187,151},{109,33}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_07_price_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{109,33}</string>
				<key>spriteSourceSize</key>
				<string>{109,33}</string>
				<key>textureRect</key>
				<string>{{221,151},{109,33}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_08_price_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{109,33}</string>
				<key>spriteSourceSize</key>
				<string>{109,33}</string>
				<key>textureRect</key>
				<string>{{255,151},{109,33}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chestPlatform_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{155,31}</string>
				<key>spriteSourceSize</key>
				<string>{159,36}</string>
				<key>textureRect</key>
				<string>{{616,54},{155,31}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chestSpecial_01_price_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{109,33}</string>
				<key>spriteSourceSize</key>
				<string>{109,33}</string>
				<key>textureRect</key>
				<string>{{256,117},{109,33}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chestSpecial_02_price_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{109,33}</string>
				<key>spriteSourceSize</key>
				<string>{109,33}</string>
				<key>textureRect</key>
				<string>{{289,151},{109,33}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chestSpecial_03_price_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{109,33}</string>
				<key>spriteSourceSize</key>
				<string>{109,33}</string>
				<key>textureRect</key>
				<string>{{323,151},{109,33}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>tier1label_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3.5,-4}</string>
				<key>spriteSize</key>
				<string>{145,48}</string>
				<key>spriteSourceSize</key>
				<string>{152,56}</string>
				<key>textureRect</key>
				<string>{{0,117},{145,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tier2label_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,-4}</string>
				<key>spriteSize</key>
				<string>{152,48}</string>
				<key>spriteSourceSize</key>
				<string>{160,56}</string>
				<key>textureRect</key>
				<string>{{772,54},{152,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>treasureRoomGround_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1068,53}</string>
				<key>spriteSourceSize</key>
				<string>{1068,53}</string>
				<key>textureRect</key>
				<string>{{0,0},{1068,53}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>treasureRoomLabel_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,-4}</string>
				<key>spriteSize</key>
				<string>{615,62}</string>
				<key>spriteSourceSize</key>
				<string>{623,70}</string>
				<key>textureRect</key>
				<string>{{0,54},{615,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>treasureRoomSpiderweb_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-0.5}</string>
				<key>spriteSize</key>
				<string>{118,117}</string>
				<key>spriteSourceSize</key>
				<string>{120,118}</string>
				<key>textureRect</key>
				<string>{{0,166},{118,117}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>TreasureRoomSheet-hd.png</string>
			<key>size</key>
			<string>{1068,283}</string>
			<key>textureFileName</key>
			<string>TreasureRoomSheet-hd.png</string>
		</dict>
	</dict>
</plist>