<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>chest_01_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{397,320}</string>
				<key>spriteSourceSize</key>
				<string>{397,321}</string>
				<key>textureRect</key>
				<string>{{0,2681},{397,320}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_01_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{385,308}</string>
				<key>spriteSourceSize</key>
				<string>{385,309}</string>
				<key>textureRect</key>
				<string>{{1469,2612},{385,308}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_01_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4}</string>
				<key>spriteSize</key>
				<string>{385,314}</string>
				<key>spriteSourceSize</key>
				<string>{385,322}</string>
				<key>textureRect</key>
				<string>{{1778,2612},{385,314}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_01_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,15}</string>
				<key>spriteSize</key>
				<string>{303,26}</string>
				<key>spriteSourceSize</key>
				<string>{303,56}</string>
				<key>textureRect</key>
				<string>{{1952,966},{303,26}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_01_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,58.5}</string>
				<key>spriteSize</key>
				<string>{651,133}</string>
				<key>spriteSourceSize</key>
				<string>{654,250}</string>
				<key>textureRect</key>
				<string>{{815,815},{651,133}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_01_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3.5,-132}</string>
				<key>spriteSize</key>
				<string>{592,284}</string>
				<key>spriteSourceSize</key>
				<string>{685,606}</string>
				<key>textureRect</key>
				<string>{{1765,0},{592,284}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_01_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,66.5}</string>
				<key>spriteSize</key>
				<string>{322,195}</string>
				<key>spriteSourceSize</key>
				<string>{324,328}</string>
				<key>textureRect</key>
				<string>{{2856,369},{322,195}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_01_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,66.5}</string>
				<key>spriteSize</key>
				<string>{295,149}</string>
				<key>spriteSourceSize</key>
				<string>{295,282}</string>
				<key>textureRect</key>
				<string>{{2856,692},{295,149}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_02_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,1}</string>
				<key>spriteSize</key>
				<string>{497,400}</string>
				<key>spriteSourceSize</key>
				<string>{498,402}</string>
				<key>textureRect</key>
				<string>{{0,1852},{497,400}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_02_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,1.5}</string>
				<key>spriteSize</key>
				<string>{481,385}</string>
				<key>spriteSourceSize</key>
				<string>{482,388}</string>
				<key>textureRect</key>
				<string>{{987,1850},{481,385}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_02_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,5}</string>
				<key>spriteSize</key>
				<string>{481,392}</string>
				<key>spriteSourceSize</key>
				<string>{482,402}</string>
				<key>textureRect</key>
				<string>{{1469,1903},{481,392}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_02_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,19}</string>
				<key>spriteSize</key>
				<string>{378,60}</string>
				<key>spriteSourceSize</key>
				<string>{378,98}</string>
				<key>textureRect</key>
				<string>{{980,2622},{378,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_02_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,73.5}</string>
				<key>spriteSize</key>
				<string>{814,167}</string>
				<key>spriteSourceSize</key>
				<string>{818,314}</string>
				<key>textureRect</key>
				<string>{{0,0},{814,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_02_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-166.5}</string>
				<key>spriteSize</key>
				<string>{744,359}</string>
				<key>spriteSourceSize</key>
				<string>{882,692}</string>
				<key>textureRect</key>
				<string>{{1045,0},{744,359}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_02_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,83.5}</string>
				<key>spriteSize</key>
				<string>{404,243}</string>
				<key>spriteSourceSize</key>
				<string>{404,410}</string>
				<key>textureRect</key>
				<string>{{2433,1852},{404,243}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_02_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,83}</string>
				<key>spriteSize</key>
				<string>{368,186}</string>
				<key>spriteSourceSize</key>
				<string>{368,352}</string>
				<key>textureRect</key>
				<string>{{775,2631},{368,186}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_03_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,1.5}</string>
				<key>spriteSize</key>
				<string>{481,385}</string>
				<key>spriteSourceSize</key>
				<string>{482,388}</string>
				<key>textureRect</key>
				<string>{{987,2236},{481,385}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_03_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,5}</string>
				<key>spriteSize</key>
				<string>{481,392}</string>
				<key>spriteSourceSize</key>
				<string>{482,402}</string>
				<key>textureRect</key>
				<string>{{498,2238},{481,392}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_03_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,19}</string>
				<key>spriteSize</key>
				<string>{378,60}</string>
				<key>spriteSourceSize</key>
				<string>{378,98}</string>
				<key>textureRect</key>
				<string>{{1041,2622},{378,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_03_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,73.5}</string>
				<key>spriteSize</key>
				<string>{814,167}</string>
				<key>spriteSourceSize</key>
				<string>{818,314}</string>
				<key>textureRect</key>
				<string>{{0,168},{814,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_03_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-166.5}</string>
				<key>spriteSize</key>
				<string>{744,359}</string>
				<key>spriteSourceSize</key>
				<string>{882,692}</string>
				<key>textureRect</key>
				<string>{{1045,745},{744,359}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_03_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,83.5}</string>
				<key>spriteSize</key>
				<string>{404,243}</string>
				<key>spriteSourceSize</key>
				<string>{404,410}</string>
				<key>textureRect</key>
				<string>{{2433,2096},{404,243}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_03_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,83}</string>
				<key>spriteSize</key>
				<string>{368,186}</string>
				<key>spriteSourceSize</key>
				<string>{368,352}</string>
				<key>textureRect</key>
				<string>{{1765,966},{368,186}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_04_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,1.5}</string>
				<key>spriteSize</key>
				<string>{481,385}</string>
				<key>spriteSourceSize</key>
				<string>{482,388}</string>
				<key>textureRect</key>
				<string>{{1951,2061},{481,385}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_04_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,5}</string>
				<key>spriteSize</key>
				<string>{481,392}</string>
				<key>spriteSourceSize</key>
				<string>{482,402}</string>
				<key>textureRect</key>
				<string>{{2463,0},{481,392}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_04_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,19}</string>
				<key>spriteSize</key>
				<string>{378,60}</string>
				<key>spriteSourceSize</key>
				<string>{378,98}</string>
				<key>textureRect</key>
				<string>{{1102,2622},{378,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_04_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,73.5}</string>
				<key>spriteSize</key>
				<string>{814,167}</string>
				<key>spriteSourceSize</key>
				<string>{818,314}</string>
				<key>textureRect</key>
				<string>{{0,336},{814,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_04_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-166.5}</string>
				<key>spriteSize</key>
				<string>{744,359}</string>
				<key>spriteSourceSize</key>
				<string>{882,692}</string>
				<key>textureRect</key>
				<string>{{0,1132},{744,359}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_04_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,83.5}</string>
				<key>spriteSize</key>
				<string>{404,243}</string>
				<key>spriteSourceSize</key>
				<string>{404,410}</string>
				<key>textureRect</key>
				<string>{{2433,2340},{404,243}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_04_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,83}</string>
				<key>spriteSize</key>
				<string>{368,186}</string>
				<key>spriteSourceSize</key>
				<string>{368,352}</string>
				<key>textureRect</key>
				<string>{{2198,2447},{368,186}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_05_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1.5}</string>
				<key>spriteSize</key>
				<string>{488,385}</string>
				<key>spriteSourceSize</key>
				<string>{488,388}</string>
				<key>textureRect</key>
				<string>{{498,1852},{488,385}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_05_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,5}</string>
				<key>spriteSize</key>
				<string>{481,392}</string>
				<key>spriteSourceSize</key>
				<string>{482,402}</string>
				<key>textureRect</key>
				<string>{{2463,482},{481,392}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_05_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,19}</string>
				<key>spriteSize</key>
				<string>{378,60}</string>
				<key>spriteSourceSize</key>
				<string>{378,98}</string>
				<key>textureRect</key>
				<string>{{1163,2622},{378,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_05_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,73.5}</string>
				<key>spriteSize</key>
				<string>{814,167}</string>
				<key>spriteSourceSize</key>
				<string>{818,314}</string>
				<key>textureRect</key>
				<string>{{0,504},{814,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_05_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-166.5}</string>
				<key>spriteSize</key>
				<string>{744,359}</string>
				<key>spriteSourceSize</key>
				<string>{882,692}</string>
				<key>textureRect</key>
				<string>{{1405,0},{744,359}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_05_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,83.5}</string>
				<key>spriteSize</key>
				<string>{404,243}</string>
				<key>spriteSourceSize</key>
				<string>{404,410}</string>
				<key>textureRect</key>
				<string>{{1469,2368},{404,243}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_05_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,83}</string>
				<key>spriteSize</key>
				<string>{368,186}</string>
				<key>spriteSourceSize</key>
				<string>{368,352}</string>
				<key>textureRect</key>
				<string>{{2385,2584},{368,186}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_06_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,18}</string>
				<key>spriteSize</key>
				<string>{488,418}</string>
				<key>spriteSourceSize</key>
				<string>{488,454}</string>
				<key>textureRect</key>
				<string>{{1980,1083},{488,418}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_06_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2.5,15}</string>
				<key>spriteSize</key>
				<string>{489,412}</string>
				<key>spriteSourceSize</key>
				<string>{494,442}</string>
				<key>textureRect</key>
				<string>{{1490,1490},{489,412}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_06_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{378,104}</string>
				<key>spriteSourceSize</key>
				<string>{378,110}</string>
				<key>textureRect</key>
				<string>{{1224,2622},{378,104}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_06_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,42.5}</string>
				<key>spriteSize</key>
				<string>{814,229}</string>
				<key>spriteSourceSize</key>
				<string>{818,314}</string>
				<key>textureRect</key>
				<string>{{0,672},{814,229}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_06_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-166.5}</string>
				<key>spriteSize</key>
				<string>{744,359}</string>
				<key>spriteSourceSize</key>
				<string>{882,692}</string>
				<key>textureRect</key>
				<string>{{1405,745},{744,359}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_06_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,77.5}</string>
				<key>spriteSize</key>
				<string>{447,291}</string>
				<key>spriteSourceSize</key>
				<string>{448,446}</string>
				<key>textureRect</key>
				<string>{{2403,964},{447,291}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_06_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,55}</string>
				<key>spriteSize</key>
				<string>{368,228}</string>
				<key>spriteSourceSize</key>
				<string>{368,338}</string>
				<key>textureRect</key>
				<string>{{2572,2584},{368,228}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_07_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,18}</string>
				<key>spriteSize</key>
				<string>{488,418}</string>
				<key>spriteSourceSize</key>
				<string>{488,454}</string>
				<key>textureRect</key>
				<string>{{1980,1572},{488,418}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_07_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2.5,15}</string>
				<key>spriteSize</key>
				<string>{489,412}</string>
				<key>spriteSourceSize</key>
				<string>{494,442}</string>
				<key>textureRect</key>
				<string>{{2050,0},{489,412}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_07_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{378,104}</string>
				<key>spriteSourceSize</key>
				<string>{378,110}</string>
				<key>textureRect</key>
				<string>{{1329,2622},{378,104}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_07_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,42.5}</string>
				<key>spriteSize</key>
				<string>{814,229}</string>
				<key>spriteSourceSize</key>
				<string>{818,314}</string>
				<key>textureRect</key>
				<string>{{815,0},{814,229}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_07_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-166.5}</string>
				<key>spriteSize</key>
				<string>{744,359}</string>
				<key>spriteSourceSize</key>
				<string>{882,692}</string>
				<key>textureRect</key>
				<string>{{0,1492},{744,359}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_07_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,76.5}</string>
				<key>spriteSize</key>
				<string>{447,293}</string>
				<key>spriteSourceSize</key>
				<string>{448,446}</string>
				<key>textureRect</key>
				<string>{{2399,1256},{447,293}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_07_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,50}</string>
				<key>spriteSize</key>
				<string>{368,218}</string>
				<key>spriteSourceSize</key>
				<string>{368,318}</string>
				<key>textureRect</key>
				<string>{{2856,0},{368,218}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_08_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,22.5}</string>
				<key>spriteSize</key>
				<string>{488,427}</string>
				<key>spriteSourceSize</key>
				<string>{488,472}</string>
				<key>textureRect</key>
				<string>{{0,2253},{488,427}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_08_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2.5,20}</string>
				<key>spriteSize</key>
				<string>{489,422}</string>
				<key>spriteSourceSize</key>
				<string>{494,462}</string>
				<key>textureRect</key>
				<string>{{1980,593},{489,422}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_08_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{378,104}</string>
				<key>spriteSourceSize</key>
				<string>{378,110}</string>
				<key>textureRect</key>
				<string>{{2093,2584},{378,104}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_08_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,42.5}</string>
				<key>spriteSize</key>
				<string>{814,229}</string>
				<key>spriteSourceSize</key>
				<string>{818,314}</string>
				<key>textureRect</key>
				<string>{{0,902},{814,229}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_08_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-166.5}</string>
				<key>spriteSize</key>
				<string>{744,359}</string>
				<key>spriteSourceSize</key>
				<string>{882,692}</string>
				<key>textureRect</key>
				<string>{{745,1490},{744,359}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_08_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,72.5}</string>
				<key>spriteSize</key>
				<string>{447,301}</string>
				<key>spriteSourceSize</key>
				<string>{448,446}</string>
				<key>textureRect</key>
				<string>{{2399,1550},{447,301}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_08_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,53}</string>
				<key>spriteSize</key>
				<string>{368,224}</string>
				<key>spriteSourceSize</key>
				<string>{368,330}</string>
				<key>textureRect</key>
				<string>{{2847,1256},{368,224}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_glow_bg_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-266,-36}</string>
				<key>spriteSize</key>
				<string>{202,92}</string>
				<key>spriteSourceSize</key>
				<string>{734,164}</string>
				<key>textureRect</key>
				<string>{{949,815},{202,92}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_shadow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{478,71}</string>
				<key>spriteSourceSize</key>
				<string>{478,72}</string>
				<key>textureRect</key>
				<string>{{1469,2296},{478,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest03_small_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-2}</string>
				<key>spriteSize</key>
				<string>{121,100}</string>
				<key>spriteSourceSize</key>
				<string>{122,104}</string>
				<key>textureRect</key>
				<string>{{2050,490},{121,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>getOrbsLabel_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-8}</string>
				<key>spriteSize</key>
				<string>{221,148}</string>
				<key>spriteSourceSize</key>
				<string>{222,164}</string>
				<key>textureRect</key>
				<string>{{2838,1891},{221,148}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_videoRewardBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,0.5}</string>
				<key>spriteSize</key>
				<string>{376,289}</string>
				<key>spriteSourceSize</key>
				<string>{380,290}</string>
				<key>textureRect</key>
				<string>{{398,2681},{376,289}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>plushies_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{8,3}</string>
				<key>spriteSize</key>
				<string>{372,208}</string>
				<key>spriteSourceSize</key>
				<string>{392,218}</string>
				<key>textureRect</key>
				<string>{{1765,593},{372,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopRope2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-99.5}</string>
				<key>spriteSize</key>
				<string>{186,265}</string>
				<key>spriteSourceSize</key>
				<string>{196,464}</string>
				<key>textureRect</key>
				<string>{{2851,988},{186,265}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopRope2_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5.5,0}</string>
				<key>spriteSize</key>
				<string>{53,84}</string>
				<key>spriteSourceSize</key>
				<string>{64,84}</string>
				<key>textureRect</key>
				<string>{{2403,490},{53,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopRope3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6,-99.5}</string>
				<key>spriteSize</key>
				<string>{168,265}</string>
				<key>spriteSourceSize</key>
				<string>{180,464}</string>
				<key>textureRect</key>
				<string>{{2801,2584},{168,265}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopRope3_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5.5,0}</string>
				<key>spriteSize</key>
				<string>{53,84}</string>
				<key>spriteSourceSize</key>
				<string>{64,84}</string>
				<key>textureRect</key>
				<string>{{2403,575},{53,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopRope4_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-99.5}</string>
				<key>spriteSize</key>
				<string>{166,265}</string>
				<key>spriteSourceSize</key>
				<string>{176,464}</string>
				<key>textureRect</key>
				<string>{{2801,2753},{166,265}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopRope4_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5.5,0}</string>
				<key>spriteSize</key>
				<string>{53,84}</string>
				<key>spriteSourceSize</key>
				<string>{64,84}</string>
				<key>textureRect</key>
				<string>{{2403,660},{53,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopRope5_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{9.5,-99.5}</string>
				<key>spriteSize</key>
				<string>{185,265}</string>
				<key>spriteSourceSize</key>
				<string>{204,464}</string>
				<key>textureRect</key>
				<string>{{2847,1625},{185,265}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopRope5_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5.5,0}</string>
				<key>spriteSize</key>
				<string>{53,84}</string>
				<key>spriteSourceSize</key>
				<string>{64,84}</string>
				<key>textureRect</key>
				<string>{{2403,745},{53,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>GJ_ShopSheet-uhd.png</string>
			<key>size</key>
			<string>{3074,3001}</string>
			<key>textureFileName</key>
			<string>GJ_ShopSheet-uhd.png</string>
		</dict>
	</dict>
</plist>