<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>shopBG_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{960,640}</string>
				<key>spriteSourceSize</key>
				<string>{960,640}</string>
				<key>textureRect</key>
				<string>{{0,0},{960,640}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper_eye_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{36,36}</string>
				<key>spriteSourceSize</key>
				<string>{36,36}</string>
				<key>textureRect</key>
				<string>{{405,1128},{36,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper_eye_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-5}</string>
				<key>spriteSize</key>
				<string>{36,26}</string>
				<key>spriteSourceSize</key>
				<string>{36,36}</string>
				<key>textureRect</key>
				<string>{{442,1128},{36,26}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopKeeper_eye_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-10}</string>
				<key>spriteSize</key>
				<string>{36,16}</string>
				<key>spriteSourceSize</key>
				<string>{36,36}</string>
				<key>textureRect</key>
				<string>{{469,1128},{36,16}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopKeeper_eye_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-4}</string>
				<key>spriteSize</key>
				<string>{30,5}</string>
				<key>spriteSourceSize</key>
				<string>{30,13}</string>
				<key>textureRect</key>
				<string>{{922,1031},{30,5}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopKeeper_eye_05_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{31,8}</string>
				<key>spriteSourceSize</key>
				<string>{31,8}</string>
				<key>textureRect</key>
				<string>{{1102,320},{31,8}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper_hand_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{42,24}</string>
				<key>spriteSourceSize</key>
				<string>{42,24}</string>
				<key>textureRect</key>
				<string>{{270,1137},{42,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper_head_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,66}</string>
				<key>spriteSourceSize</key>
				<string>{134,66}</string>
				<key>textureRect</key>
				<string>{{961,559},{134,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper_jaw_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,50}</string>
				<key>spriteSourceSize</key>
				<string>{134,50}</string>
				<key>textureRect</key>
				<string>{{928,920},{134,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper_jaw_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,50}</string>
				<key>spriteSourceSize</key>
				<string>{134,50}</string>
				<key>textureRect</key>
				<string>{{928,971},{134,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper_jaw_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,54}</string>
				<key>spriteSourceSize</key>
				<string>{134,54}</string>
				<key>textureRect</key>
				<string>{{0,1031},{134,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper_mouth_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{84,84}</string>
				<key>spriteSourceSize</key>
				<string>{84,84}</string>
				<key>textureRect</key>
				<string>{{752,1073},{84,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper_pupil_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>textureRect</key>
				<string>{{961,626},{14,14}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper_pupil_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{14,8}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>textureRect</key>
				<string>{{976,626},{14,8}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopKeeper_torso_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,72}</string>
				<key>spriteSourceSize</key>
				<string>{104,72}</string>
				<key>textureRect</key>
				<string>{{1063,1055},{104,72}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopKeeper2_eye_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{36,36}</string>
				<key>spriteSourceSize</key>
				<string>{36,36}</string>
				<key>textureRect</key>
				<string>{{486,1128},{36,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper2_eye_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-5}</string>
				<key>spriteSize</key>
				<string>{36,26}</string>
				<key>spriteSourceSize</key>
				<string>{36,36}</string>
				<key>textureRect</key>
				<string>{{1107,283},{36,26}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopKeeper2_eye_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-10}</string>
				<key>spriteSize</key>
				<string>{36,16}</string>
				<key>spriteSourceSize</key>
				<string>{36,36}</string>
				<key>textureRect</key>
				<string>{{523,1128},{36,16}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopKeeper2_eye_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-4}</string>
				<key>spriteSize</key>
				<string>{30,5}</string>
				<key>spriteSourceSize</key>
				<string>{30,13}</string>
				<key>textureRect</key>
				<string>{{1130,633},{30,5}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopKeeper2_eye_05_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{31,8}</string>
				<key>spriteSourceSize</key>
				<string>{31,8}</string>
				<key>textureRect</key>
				<string>{{1096,596},{31,8}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopKeeper2_hand_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{42,24}</string>
				<key>spriteSourceSize</key>
				<string>{42,24}</string>
				<key>textureRect</key>
				<string>{{313,1137},{42,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper2_head_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,66}</string>
				<key>spriteSourceSize</key>
				<string>{134,66}</string>
				<key>textureRect</key>
				<string>{{1063,920},{134,66}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopKeeper2_jaw_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,50}</string>
				<key>spriteSourceSize</key>
				<string>{134,50}</string>
				<key>textureRect</key>
				<string>{{928,1022},{134,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper2_jaw_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,50}</string>
				<key>spriteSourceSize</key>
				<string>{134,50}</string>
				<key>textureRect</key>
				<string>{{135,1031},{134,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper2_jaw_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,54}</string>
				<key>spriteSourceSize</key>
				<string>{134,54}</string>
				<key>textureRect</key>
				<string>{{270,1031},{134,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper2_mouth_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{84,84}</string>
				<key>spriteSourceSize</key>
				<string>{84,84}</string>
				<key>textureRect</key>
				<string>{{837,1031},{84,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper2_pupil_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>textureRect</key>
				<string>{{985,626},{14,14}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper2_pupil_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{14,8}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>textureRect</key>
				<string>{{1000,626},{14,8}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopKeeper2_torso_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{105,73}</string>
				<key>spriteSourceSize</key>
				<string>{105,74}</string>
				<key>textureRect</key>
				<string>{{540,1073},{105,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper3_eye_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{36,36}</string>
				<key>spriteSourceSize</key>
				<string>{36,36}</string>
				<key>textureRect</key>
				<string>{{1096,559},{36,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper3_eye_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-5}</string>
				<key>spriteSize</key>
				<string>{36,26}</string>
				<key>spriteSourceSize</key>
				<string>{36,36}</string>
				<key>textureRect</key>
				<string>{{1107,596},{36,26}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopKeeper3_eye_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-10}</string>
				<key>spriteSize</key>
				<string>{36,16}</string>
				<key>spriteSourceSize</key>
				<string>{36,36}</string>
				<key>textureRect</key>
				<string>{{540,1147},{36,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper3_eye_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-4}</string>
				<key>spriteSize</key>
				<string>{30,5}</string>
				<key>spriteSourceSize</key>
				<string>{30,13}</string>
				<key>textureRect</key>
				<string>{{1130,664},{30,5}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopKeeper3_eye_05_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{31,8}</string>
				<key>spriteSourceSize</key>
				<string>{31,8}</string>
				<key>textureRect</key>
				<string>{{1102,329},{31,8}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper3_hand_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{42,24}</string>
				<key>spriteSourceSize</key>
				<string>{42,24}</string>
				<key>textureRect</key>
				<string>{{356,1137},{42,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper3_head_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-5.5}</string>
				<key>spriteSize</key>
				<string>{134,78}</string>
				<key>spriteSourceSize</key>
				<string>{134,89}</string>
				<key>textureRect</key>
				<string>{{135,1082},{134,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper3_jaw_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-7}</string>
				<key>spriteSize</key>
				<string>{134,36}</string>
				<key>spriteSourceSize</key>
				<string>{134,50}</string>
				<key>textureRect</key>
				<string>{{0,1086},{134,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper3_jaw_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,50}</string>
				<key>spriteSourceSize</key>
				<string>{134,50}</string>
				<key>textureRect</key>
				<string>{{270,1086},{134,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper3_jaw_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,54}</string>
				<key>spriteSourceSize</key>
				<string>{134,54}</string>
				<key>textureRect</key>
				<string>{{405,1073},{134,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper3_mouth_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{84,84}</string>
				<key>spriteSourceSize</key>
				<string>{84,84}</string>
				<key>textureRect</key>
				<string>{{922,1073},{84,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper3_pupil_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>textureRect</key>
				<string>{{1009,626},{14,14}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper3_pupil_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{14,8}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>textureRect</key>
				<string>{{1024,626},{14,8}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopKeeper3_torso_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{105,73}</string>
				<key>spriteSourceSize</key>
				<string>{105,74}</string>
				<key>textureRect</key>
				<string>{{646,1073},{105,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopSign_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,17.5}</string>
				<key>spriteSize</key>
				<string>{275,140}</string>
				<key>spriteSourceSize</key>
				<string>{278,175}</string>
				<key>textureRect</key>
				<string>{{961,283},{275,140}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopSign2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1.5}</string>
				<key>spriteSize</key>
				<string>{282,174}</string>
				<key>spriteSourceSize</key>
				<string>{282,177}</string>
				<key>textureRect</key>
				<string>{{961,0},{282,174}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopSign3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{278,178}</string>
				<key>spriteSourceSize</key>
				<string>{279,181}</string>
				<key>textureRect</key>
				<string>{{928,641},{278,178}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>storeDesk_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{927,389}</string>
				<key>spriteSourceSize</key>
				<string>{927,389}</string>
				<key>textureRect</key>
				<string>{{0,641},{927,389}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>GJ_ShopSheet01-hd.png</string>
			<key>size</key>
			<string>{1135,1164}</string>
			<key>textureFileName</key>
			<string>GJ_ShopSheet01-hd.png</string>
		</dict>
	</dict>
</plist>