<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>shopBG_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{960,640}</string>
				<key>spriteSourceSize</key>
				<string>{960,640}</string>
				<key>textureRect</key>
				<string>{{0,0},{960,640}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper5_eye_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{36,36}</string>
				<key>spriteSourceSize</key>
				<string>{36,36}</string>
				<key>textureRect</key>
				<string>{{1060,700},{36,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper5_eye_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-5}</string>
				<key>spriteSize</key>
				<string>{36,26}</string>
				<key>spriteSourceSize</key>
				<string>{36,36}</string>
				<key>textureRect</key>
				<string>{{1074,566},{36,26}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopKeeper5_eye_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-10}</string>
				<key>spriteSize</key>
				<string>{36,16}</string>
				<key>spriteSourceSize</key>
				<string>{36,36}</string>
				<key>textureRect</key>
				<string>{{1071,603},{36,16}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopKeeper5_eye_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-4}</string>
				<key>spriteSize</key>
				<string>{30,5}</string>
				<key>spriteSourceSize</key>
				<string>{30,13}</string>
				<key>textureRect</key>
				<string>{{1096,276},{30,5}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopKeeper5_eye_05_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{31,8}</string>
				<key>spriteSourceSize</key>
				<string>{31,8}</string>
				<key>textureRect</key>
				<string>{{1088,603},{31,8}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopKeeper5_hand_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{46,31}</string>
				<key>spriteSourceSize</key>
				<string>{47,33}</string>
				<key>textureRect</key>
				<string>{{1013,700},{46,31}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper5_head_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,18.5}</string>
				<key>spriteSize</key>
				<string>{183,110}</string>
				<key>spriteSourceSize</key>
				<string>{183,147}</string>
				<key>textureRect</key>
				<string>{{961,276},{183,110}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopKeeper5_jaw_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{145,58}</string>
				<key>spriteSourceSize</key>
				<string>{145,59}</string>
				<key>textureRect</key>
				<string>{{928,641},{145,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper5_jaw_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,50}</string>
				<key>spriteSourceSize</key>
				<string>{134,50}</string>
				<key>textureRect</key>
				<string>{{961,460},{134,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper5_jaw_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,54}</string>
				<key>spriteSourceSize</key>
				<string>{134,54}</string>
				<key>textureRect</key>
				<string>{{961,511},{134,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper5_mouth_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{84,84}</string>
				<key>spriteSourceSize</key>
				<string>{84,84}</string>
				<key>textureRect</key>
				<string>{{928,700},{84,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper5_pupil_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{23,23}</string>
				<key>spriteSourceSize</key>
				<string>{23,23}</string>
				<key>textureRect</key>
				<string>{{1072,276},{23,23}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopKeeper5_pupil_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{14,8}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>textureRect</key>
				<string>{{1088,635},{14,8}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopKeeper5_torso_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{109,74}</string>
				<key>spriteSourceSize</key>
				<string>{109,76}</string>
				<key>textureRect</key>
				<string>{{961,566},{109,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopSign5_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,17.5}</string>
				<key>spriteSize</key>
				<string>{275,140}</string>
				<key>spriteSourceSize</key>
				<string>{278,175}</string>
				<key>textureRect</key>
				<string>{{961,0},{275,140}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>storeDesk_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{927,389}</string>
				<key>spriteSourceSize</key>
				<string>{927,389}</string>
				<key>textureRect</key>
				<string>{{0,641},{927,389}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>GJ_ShopSheet03-hd.png</string>
			<key>size</key>
			<string>{1101,1030}</string>
			<key>textureFileName</key>
			<string>GJ_ShopSheet03-hd.png</string>
		</dict>
	</dict>
</plist>